@font-face {
    font-family: "Roboto";
    src: url("imgs/Roboto/Roboto-Regular.ttf");
}


@font-face {
    font-family: "Fredoka One";
    src: url("./imgs/Fredoka/static/Fredoka-Bold.ttf");
}

/* @font-face {
    font-family: Fredoka One;
    src: url(imgs2/Fredoka.zip);
} */


.cards {
    margin-left: 250px;
}


body {

    width: 1600px;
    height: 862px;

}

.block {
    background: #F2CEDA;
    width: 1900px;
    height: 862px;
}

nav {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
}

.links ul {
    display: flex;
    gap: 40px;
    list-style: none;
    color: rgba(21, 1, 1, 1);
    text-decoration: none;

}



nav button {
    width: 165px;
    height: 49px;
    border-radius: 5px;
    background: #D23166;
    color: #fff;
}


.yoz p {
    color: #0F0101;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.4px;
}

.yoz h1 {
    width: 665px;
    height: 130px;
    color: #0F0101;
    font-family: 'Times New Roman', Times, serif;
    font-size: 57.33px;
    font-style: normal;
    font-weight: 400;
    line-height: 120.5%;
    opacity: 0.9;
    color: #D23166;
    font-family: "Fredoka One";
    font-size: 57.33px;
    font-style: normal;
    font-weight: 400;
    line-height: 120.5%;
}


.yoz h4 {
    width: 523px;
    height: 78px;
    color: #0F0101;
    font-family: " Hind Madurai";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    /* 150% */
}

.yoz button {
    width: 165px;
    height: 49px;
    border-radius: 5px;
    background: #D23166;
    color: #fff;
}


.yoz {
    margin-left: 254px;
    margin-top: 147px;
}

.right img {
    display: flex;
    margin-top: -400px;
    margin-left: 1000px;
}

.rasm989 {
    display: flex;
    margin-left: 1250px;
    margin-top: -460px;
}

.h1 {
    margin-top: 200px;
    margin-left: 300px;
    width: 250px;
}

.rasm70 {
    display: flex;
    justify-content: right;
    margin-top: -400px;
}

p {
    margin: 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    justify-content: center;
    gap: 39px;
    padding: 100px 0;
    border-radius: 7px;
    background: rgb(255, 255, 255);
    padding: 100px 0;
}

.cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    transition: all 0.50s;



}

.cards .card:hover {
    box-shadow: 15px 15px 40px 0px rgba(0, 0, 0, 0.196);
}

.cards .card img {
    height: 50px;

}

.cards .card p.title {
    margin-top: 30px;
    height: 28px;
    color: #000;
    font-family: "Hind Madurai";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cards .card p.info {
    margin-top: 9px;
    height: 50px;
    color: #000;
    text-align: center;
    font-family: "Hind Madurai";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


nav button {
    width: 165px;
    height: 49px;
    border-radius: 5px;
    background: #D23166;
    color: #fff;
    margin-left: 230px;
    margin-top: -250px;
}

.lorem {
    width: 300px;
    height: 200px;
    margin-left: 400px;
    margin-top: 200px;
}

.rasm100 {
    margin-left: 900px;
    margin-top: -400px;

}

.showcase {
    width: 1900px;
    height: 550px;
    background-color: #F8EDF0;
    ;
    padding: 100px 0;
}


.showcase .lorem button {
    width: 165px;
    height: 49px;
    border-radius: 5px;
    background: #D23166;
    color: #fff;
    margin-left: -15px;
    margin-top: 35px;
}


.ota {
    margin: 0 auto;
}

.link ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
}

.link ul:hover{
    transition: all 1s;
    color: #D23166;
}

.pl{
    margin-top: 600px;
}



.jol{
    display: flex;
}

.pl button{
    border: 1px solid #fff;
    margin-top: -100px;
    width: 165px;
height: 49px;
border-radius: 5px;
background: #D64374;
}
.jol h4{
    margin-top: 30px;
}
.jol{
    gap: 10px;
}

.rams{
    justify-content: flex-start;
    margin-left: 150px;
}





.ota h4{

    margin:  0 auto;
    color: #150101;
font-family: Hind Madurai;
margin-left: 320px;
font-size: 44.2px;
font-style: normal;
font-weight: 600;
line-height: normal;
list-style: none;



}

.pl .lorem{
    margin-top: -900px;
    margin-left: 1200px;
}

/* .dars h5{
    color: #000;
font-family: Hind Madurai;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;    
}

.dars p{
    width: 454px;
height: 67px;
color: #000;
font-family: Roboto;
margin-right: 200px;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
/* margin-top: 100px; */
/* } */

.dars{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dars h5{
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-bottom: 150px;
    box-sizing: border-box;
} 

.left{
    padding: 200px 0;
}


.left h6{
    color: #000;
text-align: right;
font-family: Hind Madurai;
font-size: 26px;
font-style: normal; 
font-weight: 700;
line-height: normal;
justify-content: flex-start;
display: flex;
margin-left: 230px;
}

.left p{
    width: 444px;
height: 67px;
color: #000;
text-align: right;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
display: flex;


}


.lom{
    display: flex;
    justify-content: flex-end;
    margin-top:  -400px;

}

.jo{
    display: flex;
    margin-left: 300px;
}


.left button{
    width: 165px;
height: 49px;
border: 1px solid #fff;
margin-left: 275px;
border-radius: 5px;
background: #D64374;

}

.left {
    border: 1px solid #fff;
    margin-left: 150px;
    justify-content: flex-start;
    
}

footer{
    background: #F8EDF0;
    width: 1900px;
    height: 680px;
}